* {
    margin: 0px;
    padding: opx;
}

body {
    background-color: darkgrey;
    display: flex;

    justify-content: center;
    align-items: center;

}

#box {
    height: 25vw;
    width: 40vw;
    background-color: white;



    border-radius: 1vh;
    background-color: rgb(49, 70, 100);
    display: flex;
    justify-content: center;
}

#time {
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0.3vw;


}

.nodes {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    height:8vw ;width: 8vw;
    
}
.nodes:nth-of-type(3){
    background-color: blue;
    height: 4vw;width: 4vw;
    font-size: 20%;
}


#nodrow {
    position: absolute;
    top: 6.4vw;
    font-size: 6vw;
    /* display: inline; */
}
